.myfather {
  background-color: #08c5ff;
  height: 200px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.mychild {
  background-color: rgb(192, 231, 146);
  height: 100px;
}
