.home {
  .content {
    height: 120px;
    width: 100%;
  }
  .nav {
    padding: 10px 0;
    h2 {
      margin-top: 7px;
      font-size: 13px;
      font-weight: normal;
    }
  }
  .nav-item-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: #999999;
  }
  .groups {
    background-color: #eee;
    padding-bottom: 10px;
    .groups-caption {
      padding: 10px 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-weight: 700;
      .more {
        font-size: 13px;
        font-weight: normal;
        color: #aaa;
      }
    }
    .groups-item {
      padding: 0px 15px;
      .item {
        background-color: #fff;
        display: flex;
        align-items: center;
        padding: 6px 12px 9px 12px;
        justify-content: space-between;
        .item-left {
          display: flex;
          flex-direction: column;
          .left-desc {
            font-size: 10px;
            color: #aaa;
            margin-top: 4px;
          }
        }
      }
    }
  }
}
