.home {
  .content {
    height: 120px;
    width: 100%;
  }
  .nav {
    padding: 10px 0;
    h2 {
      margin-top: 7px;
      font-size: 13px;
      font-weight: normal;
    }
  }
  .nav-item-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: #999999;
  }
}
